*{
    font-family: 'Roboto', sans-serif;
}

ol{
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
}

li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    border-bottom: 10px solid;
    margin-bottom: -1px solid #000;
    font-weight: bold;
    color: white;
    font-size:14px;
    background-color: blue;
}

li:hover{
    background-color: white;
    cursor: pointer;
    transition: 800ms;
    color: blue;
}